/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

@media only screen and (min-width: 20em) and (max-width: 71em) /*320-1136*/ {

	body {
		overflow-x:hidden;
	}

	/*Nav*/
	#logo-home {
		height: 65%;
	}

	nav ul { 
		display: none; 
	}

  	nav select { 
  		display: inline-block;
  		margin: 1.5em 1.5em 0 0;
  		float: right; 
  		height: 2em;
  		width: 35%; 
  	}
	#logo {
		height: 45%;
		clear: both;
	}

	.trans-back {
		height: 30%;
	}

  	.top-content{
		height: 55%;
	}
	/*Home Page*/

	#site-content-container{
		height: 35%;
		width: 100%;
	}
		.Welcome-text {
			margin-left: .5em;
		}

		.welcome-site-info {
			margin-left: .875em;
		}

		.site-info{
			display: none;
		}

	#footer-container{
		width: 9em;
	}

		footer {
		font-size: .5em;
		}

	/*Recipes*/
	#recipe-container{
		width: 100%;
	}
		.recipe{
			margin: .5em;
			height: 30%;
			width: 100%;
			position: static;
			float: none;
		}
		
		.recipe-img{
			width: 30%;
			position: absolute;
		}

		.recipe-title{
			font-size: 1.75em;
			line-height: 1.25em;
			position: relative;
			float: right;
			width: 45%;
		}

		.week{
			font-size: 1em;
			position: relative;
			float: right;
			width: 45%
			
		}
			.cal-icon{
				display: none;
			}

		/*Contact*/
		.form-buttons li{
			width: 7em; 
			height: 1.5em;
			background: #000000;
		}

		.buttons { 
			font-size: 2em;
		}

		form {
			font-size: 4em;
		}

		h1 {
			font-size: 4em;
		}
}